.GameCardDetails {
  background-color: black;
  color: white;
  height: auto;
  padding: 10px 8% 60px 8%;
}
.GameDetailsTextDiv {
  height: auto;
  background-color: transparent;
  color: white;
  padding: 20px 10px;
}
.imgDiv {
  height: auto;
  padding: 40px 0 0 0;
  background-color: transparent;
}

.storesDiv {
  padding: 10px;
  /* background-color: bisque; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  align-items: baseline;
}
.IndividualstoresDiv {
  width: fit-content;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.IndividualstoresDiv a {
  text-decoration: none;
  color: white;
  font-style: italic;
}
.GameDetailsTextDiv a {
  text-decoration: none;
  font-style: italic;
  color: white;
}
.IndividualstoresDiv:hover {
  border: 1px solid white;
}
